%h2 Authorize Net Reports
%div.row
  %div.span12
    %form.well.form-search
      From: 
      = text_field_tag 'from', "2011/04/20", :style => "width:100px"
    
      To: 
      = text_field_tag 'to', "2011/05/20", :style => "width:100px"
      =submit_tag 'Search', :class=>"btn primary" 
%div.row
  %div.span12      
    -if @batches
      %table.table.table-striped
        %thead
          %tr
            %th Batch 
            %th Settlement Time
            %th Settlement State
        -@batches.each do |batch|
          %tr
            %td= link_to batch.batch_id, batch_transactions_path(batch.batch_id)
            %td= batch.settlement_time_utc
            %td= batch.settlement_state.titleize
